<h1>Edit Squad Name </h1>

<ol>
  <% if flash[:errors] %>
  <strong>Errors:</strong>
    <% flash[:errors].each do |error| %>
      <li><% error %></li>
    <% end %>
  <% end %>
</ol>


<%= form_for @squad do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
