body {
  background-image: url('login-image.png');
  background-size: cover;
}

h1 {
  font-size: 100px;
  text-align: center;
  padding-top: 50px;
}

.login_form{
  background-color: Lavender;
  width: 400px;
  height:100px;
  margin: 0 auto;
  align-items: center;
  border: 5px solid black;
  display:flex;
  justify-content: center;
  display: grid;
  font-weight: bold;
}

.ui.purple.button {
  margin-left: 10px;
  border: 1px solid black;
}
