body {
  background-image: url('login-image.png');
  background-size: cover;
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 100px;
  text-align: center;
  padding-top: 50px;
  font-family: 'Dosis', sans-serif;
}

.login_form{
  background-color: Lavender;
  width: 400px;
  height:100px;
  margin: 0 auto;
  align-items: center;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  display: grid;
  font-weight: bold;
}

.ui.purple.button {
  margin-left: 10px;
  border: 1px solid black;
}

.error {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;

}
