body {
  background-image: url('user-show-image.jpg');
  background-position: center;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
}

h1 {
  float: right;
  color: white;
  font-size: 60px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: 'Dosis', sans-serif;
}

a {
  color: white;
  text-decoration: underline;
  font-size: 15px;
}

#profile_pic {
  clear: right;
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

.user_info {
  text-align: left;
  color: white;
  margin-left: 550px;
  padding-top: 100px;
  height: 500px;
  width: 500px;
  font-size: 30px;
  line-height: 50px;
  word-wrap: break-word;
}

#ticket_list {
  line-height: 25px;
}

#edit_profile {
  clear: right;
  float: right;
  margin-top: -150px;
  margin-right: 27px;
}

#search {
  clear: right;
  float: right;
  margin-top: -90px;
  margin-right: 27px;
}

.ui.inverted.standard.button {
  width: 200px;
}
